################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

x64/
.vs/
*.filters
*.user
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/pysfm/build
/pysfm
